body {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    background-color: brown;
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    z-index: -2;
}

#tablero {
    margin: auto;
    text-align: center;
    font-size: 35px;
}

.newyear{
    position: absolute;
    z-index: -1;
    left: calc(50vw - 85px);
    top: calc(50vh - 73px);
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    padding: 0%;
    margin: 0%;
}

.newyear h1,h6{
    padding: 0%;
    margin: 0%;
}

span {
    background-color: rgb(223, 223, 223);
}